@font-face {
    font-family: "figtree";
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

body {
    margin: 0;
    color: #111;
    font-size: 16px;
    font-family: figtree, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    background-color: #f4d04e;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 24px;
}

.card {
    background-color: #ffffff;
    max-width: 334px;
    border-radius: 16px;
    border: 1px solid #2b2b2b;
    padding: 24px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.card:hover {
    box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.9);
}

.post-image {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.category-container {
    margin-top: 18px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.category {
    margin: 0;
    background-color: #f4d04e;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
}

.category:hover {
    cursor: pointer;
}

.date {
    font-weight: 500;
}

.card-title {
    color: #111111;
    padding: 0;
    font-size: 24px;
    font-weight: 800;
    margin-top: 18px;
    margin-bottom: 0px;
}

.card-title:hover {
    color: #f4d04e;
    cursor: pointer;
}

.card-text {
    padding: 0;
    margin: 18px 0;
    line-height: 24px;
    color: #787873;
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 0;
}

.author-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.author-name {
    font-weight: bold;
    margin: 0;
}